
<p>profesor works!</p>

<button mat-raised-button color="primary" (click)="Mostrar()">
  Mostrar lista de alumnos
</button>
<button mat-raised-button color="accent" (click)="OrdenarPuntos()">
  Ordenar Puntos
</button>

<h2>LISTA DE ALUMNOS</h2>

<table mat-table [dataSource]="lista" class="mat-elevation-z8">
  <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let persona"><p *ngIf= "persona.rol === 'Alumno'"> {{persona.nombre}}</p> </td>
  </ng-container>

  <ng-container matColumnDef="puntos">
      <th mat-header-cell *matHeaderCellDef> Puntos </th>
      <td mat-cell *matCellDef="let persona"> <p *ngIf= "persona.rol === 'Alumno'"> {{persona.puntos}}</p></td>
  </ng-container>

  <ng-container matColumnDef="incrementar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let persona"><button *ngIf= "persona.rol === 'Alumno'" (click)="Incrementar(persona.nombre)"><i class="material-icons green">add</i></button></td>
  </ng-container>

  <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let persona"><button *ngIf= "persona.rol === 'Alumno'" (click)="Eliminar(persona.nombre)"><i class="material-icons red">delete</i></button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<h2>Introducir un nuevo alumno</h2>
  <form (ngSubmit)="Pon();">
    <div>
      <label>Nombre: </label>
      <input type="text" name="nombre" placeholder="escribe el nombre" required [(ngModel)] = "nombre">
    </div>
    <div>
        <label>Pass: </label>
        <input type="text" name="pass" placeholder="escribe el pass" required [(ngModel)] = "pass">
    </div>
    <div>
        <label>Rol: </label>
        <select name="rol" required [(ngModel)] = "rol">
          <option value="Alumno">Alumno</option>
          <option value="Profesor">Profesor</option>
        </select>
    </div>
    <div>
      <label>Puntos iniciales: </label>
      <input type="number" name="puntos" placeholder="puntos iniciales" required [(ngModel)] = "puntos">
    </div>
    <button>Crear un nuevo alumno</button>
  </form>

